// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$azul-oscuro: #1a1a66;
$azul-medio: #4d4dff;
$azul-claro: #99ccff;

$positivo-azul: #99ccff;
$negativo-azul: #ff6666;
$informacion-azul: #66b3ff;
$advertencia-azul: #ffb366;

$gris-oscuro: #666666;
$gris-pag-oscuro: #4d4d4d;

$fondo-claro: #333333;
$fondo-oscuro: #fafafa;

